.new-review-btn {
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    transition: all 0.4s ease 0s;
    width: 140px;
}

.new-review-btn:hover {
    background-color: rgb(67, 205, 240);
}

.new-comment-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    align-items: flex-end;
}

.review-area {
    border: 1px solid lightgrey;
    border-radius: 10px;
    max-height: 200px;
    width: 100%;
    height: 200px;
}

.review-area:focus {
    outline: none;
    padding: 10px;
}


.error-wrapper {
    display: flex;
    gap: 10px;
    padding: 6px;
    width: 100%;
  }
  
  
  .error-img {
    width: 20px;
    object-fit: contain;
  }
  
  .error-msg {
    color: red;
    width: 90%;
  }
  
  .ul-wrapper {
    width: 100%;
  }