.add-to-cart-form {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.quantity-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.change-value-btn {
    background-color: transparent !important;
    width: 30px;
    height: 30px !important;
    height: 20px;
    font-size: 20px !important;
    border-radius: 0px !important;
    color: black !important;
    padding: 0px !important;
    outline: 1px solid lightgrey !important;
    line-height: 0px !important;
}

.quantity {
    margin: 0px !important;
    padding: 0px !important;
}

.error-wrapper {
    display: flex !important;
    gap: 10px;
    padding: 6px;
}


.error-img {
    width: 20px;
    object-fit: contain;
}

.error-msg {
    color: red;
    width: 90%;
    font-size: 18px;
}