.action-btns {
    display: flex;
    gap: 20px;
}


.change-btn {
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    transition: all 0.4s ease 0s;
    width: 140px;
    text-align: center;
}

.change-btn:hover {
    background-color: rgb(67, 205, 240);
}

.left-image img {
    max-width: 600px;
}

.game-information li p {
    margin: 0px;
}


.game-information li {
    margin: 0px!important;
}

.genre-wrapper {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.game-information p span {
    font-style: italic !important;
    font-weight: bold !important;
    color: black !important;
    margin-left: 12px;
}